

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  background-color: #fafafa;
  color: #151515;
  padding: 0 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#react-container {

}

header {
  display: flex;
  gap: 50px;
}

h1 {
  font-family: 'Gajraj One', cursive;
  font-size: 3rem;
  color: #A4BC92;
}

nav ul {
  font-family: 'Gajraj One', cursive;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  gap: 3rem;
  list-style-type: none;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: #BBD6B8;
  font-size: 1.5rem;
}

a:hover {
  color: #ffc0cb;

}

li:hover{
  color: #ffc0cb;

}

h2 {
  color: #539165;
}

input,
label,
textarea {
  display: block;
}

#cuisine-form,
#new-food {
  border: 1px solid green;
}

#all-cuisines {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;

}

#all-cuisines li {
  list-style: none;
  padding: 10px;
  background-color: #EDF1D6;
  border-radius: 10px;
  color: #40513B;
  overflow: scroll;
}