html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  background-color: #3D5656;
  color: #CFFDE1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#react-container {

}

h1 {
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 3rem;
  list-style-type: none;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: #CFFDE1;
}

a:hover {
  color: #ffc0cb;

}

li:hover{
  color: #ffc0cb;

}

h2 {
  text-align: center;
  color: #ffc0cb;
}

.random-display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}